.sign-in-popup{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 380px;
    padding: 40px 30px 30px 30px;
    margin: 20px auto;
    position: relative;
    @include for-phone{
        padding: 40px 20px 30px 20px;
    }
    fieldset{
        padding: 0;
    }
    &__title{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #1F2041; 
        margin-bottom: 20px;
    }
    &__fio{
        margin-bottom: 20px;
    }
    &__input{
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        height: 44px;
        width: 100%;
        color: rgba(31, 32, 65, 0.25);
        padding: 13px 15px;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
        &:focus,
        &:hover{
            border: 1px solid rgba(31, 32, 65, 0.5);
        }
    }
    &__btn-submit{
        margin-bottom: 30px;
    }
    &__enter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text{
            color: #000000;
            margin-right: 15px;
        }
        &-btn{
            width: 99px;
        }
    }
}