form#subscription-popup.mfp-hide.white-popup-block.subscription-popup
    h1.subscription-popup__title Подписка на новостную рассылку
    fieldset(style='border:0;')
        .subscription-popup__list
            a.subscription-popup__close(class="subscription-popup-close" href="#")
            p.subscription-popup__text Спасибо за вашу подписку, все новости об акциях и выгодных предложениях будут приходить к вам на почту
