.room-details-content{
    padding: 70px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__info{
        max-width: 710px;
        width: 100%;
        flex: 1 1 auto;
    }
    &__card{
        flex: 0 0 auto;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__rewiews{
        margin-bottom: 30px;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
    }
    .room-details-item{
        &__title{
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 19px;
            line-height: 23px;
            color: #1F2041;
        }
        &__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
    .room-details-cancel{
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        max-width: 341px;
        width: 100%;
    }
}