.room-impressions
  .room-impressions__inner 
    .room-impressions__pieContainer
      .room-impressions__pieBackground
      #room-impressions__pieSlice1.hold
        .room-impressions__pie
      #room-impressions__pieSlice2.hold
        .room-impressions__pie
      #room-impressions__pieSlice3.hold
        .room-impressions__pie
      .room-impressions__innerCircle
        .room-impressions__content
          b 260
          br
          span голосов
    ul.room-impressions__circle-info
      li.room-impressions__circle-item.room-impressions__circle-item-fabulous Великолепно
      li.room-impressions__circle-item.room-impressions__circle-item-good Хорошо
      li.room-impressions__circle-item.room-impressions__circle-item-satisfactorily Удовлетворительно
      li.room-impressions__circle-item.room-impressions__circle-item-disappointed Разочарован


