.room-impressions
  .room-impressions__inner 
    .room-impressions__circle
      p.room-impressions__circle-title 260
        span голосов
      span.room-impressions__circle-chart
      span.room-impressions__circle-chart
      span.room-impressions__circle-chart
      span.room-impressions__circle-chart
    //- ul.chart-skills
    //-   li
    //-   li
    //-   li
    //-   li

    ul.room-impressions__circle-info
      li.room-impressions__circle-item Великолепно
      li.room-impressions__circle-item Хорошо
      li.room-impressions__circle-item Удовлетворительно
      li.room-impressions__circle-item Разочарован


