.price-range
    .price-range__header
        .price-range__title диапазон цены
        .price-range__info
            .price-range__selected-min#price-range__selected-min 
            span -
            .price-range__selected-max#price-range__selected-max
    .price-range__line#price-range
    .price-range__descr Стоимость за сутки пребывания в номере