.additional-facilities-list
    .additional-facilities-list__title дополнительные удобства
    .additional-facilities-list__body
        label.additional-facilities-list__item
            input(type="checkbox" name="breakfast").additional-facilities-list__checkbox
            span.additional-facilities-list__checkbox-fake
            p.additional-facilities-list__name Завтрак
        label.additional-facilities-list__item
            input(type="checkbox" name="Desk").additional-facilities-list__checkbox
            span.additional-facilities-list__checkbox-fake
            p.additional-facilities-list__name Письменный стол
        label.additional-facilities-list__item
            input(type="checkbox" name="Chair for feeding").additional-facilities-list__checkbox
            span.additional-facilities-list__checkbox-fake
            p.additional-facilities-list__name Стул для кормления
        label.additional-facilities-list__item
            input(type="checkbox" name="Crib").additional-facilities-list__checkbox
            span.additional-facilities-list__checkbox-fake
            p.additional-facilities-list__name Кроватка
        label.additional-facilities-list__item
            input(type="checkbox" name="Television").additional-facilities-list__checkbox
            span.additional-facilities-list__checkbox-fake
            p.additional-facilities-list__name Телевизор
        label.additional-facilities-list__item
            input(type="checkbox" name="Shampoo").additional-facilities-list__checkbox
            span.additional-facilities-list__checkbox-fake
            p.additional-facilities-list__name Шампунь