.rooms-list
    h1.rooms-list__title Номера, которые мы для вас подобрали
    ul.rooms-list__content
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
        li.rooms-list__item.room-item
            include ../room-item/_room-item
    include ../page-paginaton/_page-paginaton
            