.room-details-rules
    ul.room-details-rules__list 
        li.room-details-rules__item Нельзя с питомцами
        li.room-details-rules__item Без вечеринок и мероприятий
        li.room-details-rules__item Время прибытия — после 13:00, а выезд до 12:00