.index-page{
    height: calc(100vh - 70px);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: index-page-slider;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes index-page-slider {
    0% {
        // opacity: 1;
        background-image: url(../components/index-page/image/bg-1.jpg);
        // animation-timing-function: ease-out;
    }
    50% {
        // opacity: 0;
        background-image: url(../components/index-page/image/bg-2.jpg);
        // animation-timing-function: ease-out;
    }
    100% {
        // opacity: 1;
        background-image: url(../components/index-page/image/bg-3.jpg);
        // animation-timing-function: ease-out;
    }
}