.index-page{
    width: 100%;
    position: relative;
    height: 550px;
    @media (min-height: 600px) {
        height: calc(100vh - 70px);
    }
    .container{
        height: inherit;
    }
    &__wrapper{
        height: inherit;
    }
    &__inner{
        position: relative;
        height: inherit;
    }
    &__slider-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &__slider{
        width: 100%;
        height: inherit;
        &-item{
            width: 100%;
            height: inherit;
        }
        &-img{
            width: 100%;
            height: calc(100vh - 70px);
            object-fit: cover;
        }
    }
    &__text{
        line-height: 24px;
        text-align: right;
        color: #fff;
        max-width: 297px;
        position: absolute;
        bottom: 18px;
        right: 0;
        @include for-phone{
            display: none;
        }
    }
    .find-numbers-form{
        position: absolute;
        top: 70px;
        left: 0;
        @include for-phone{
            left: 50%;
            transform: translateX(-50%);
        }
    }
}