include ../dropdown/_dropdown.pug

header.header
  .container
    .header__inner
      a.header__logo(href='#')
        img.header__logo-img(src=require("./components/header/images/logo.png"), alt="logo")
      .header__content
        nav#header__menu.header__menu
          ul.header__menu-list
            li.header__menu-item
              a.header__menu-link(href='#') О нас
            li.header__menu-item
              +dropdown("Услуги", "Подбор номеров", "Консультация у специалиста")
            li.header__menu-item
              a.header__menu-link(href='#') Вакансии
            li.header__menu-item
              a.header__menu-link(href='#') Новости
            li.header__menu-item
              +dropdown("Соглашения", "Персональные данные", "Пользовательское соглашение")
            li.header__menu-item
              a.header__registration-link.button-purple.registration-popup-link(href='#registration-popup') зарегистрироваться
            li.header__menu-item
              a.header__entry-link.button-white.sign-in-popup-link(href='#sign-in-popup') войти
        a.header__entry-link.button-white.sign-in-popup-link(href='#sign-in-popup') войти
        a.header__registration-link.button-purple.registration-popup-link(href='#registration-popup') зарегистрироваться
        button#burger-menu.header__burger(type="button")
          span
          span
          span