.header{
    padding: 15px 0;
    min-height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        width: 106px;
        height: 40px;
        display: block;
        &-img{
            object-fit: contain;
            height: inherit;
            width: 100%;
        }
    }
    &__content{
        display: flex;
        align-items: center;
    }
    &__menu{
        margin-right: 44px;
        &-list{
            display: flex;
            align-items: center;
        }
        &-item{
            margin-right: 20px;
            transition: color .3s ease-in-out;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: #BC9CFF;
            }
        }
    }
    &__entry-link{
        margin-right: 20px;
    }
}