.rules-list
    label.rules-list__item
        input(type="checkbox" name="smoking").rules-list__checkbox
        span.rules-list__checkbox-fake
        p.rules-list__name Можно курить
    label.rules-list__item
        input(type="checkbox" name="pets").rules-list__checkbox
        span.rules-list__checkbox-fake
        p.rules-list__name Можно с питомцами
    label.rules-list__item
        input(type="checkbox" name="guests").rules-list__checkbox
        span.rules-list__checkbox-fake
        p.rules-list__name Можно пригласить гостей (до 10 человек)