.room-item{
    width: 270px;
    height: 258px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    &__slider{
        height: 152px;
        max-width: 100%;
        position: relative;
        &-img{
            border-radius: 4px 4px 0 0;
            max-width: 100%;
            object-fit: contain;
            height: inherit;
        }
        .room-item__slider-next,
        .room-item__slider-prev{
            width: 44px;
            height: 44px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            background-color: transparent;
            z-index: 10;
        }
        .room-item__slider-next{
            right: 0;
            background-image: url("../components/room-item/images/arrow-right.svg");
        }
        .room-item__slider-prev{
            left: 0;
            background-image: url("../components/room-item/images/arrow-left.svg");
        }
        .slick-dots{
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 15px;
            right: 15px;
            li{
                font-size: 0;
                line-height: 0;
                margin-right: 4px;
                display: block;
                width: 8px;
                height: 8px;
                button{
                    background-color: transparent;
                    border: 1px solid #FFFFFF;
                    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
                &.slick-active{
                    background-color: #fff;
                    border-radius: 50%;
                }
            }
        }
    }
    &__box{
        padding: 20px 17px 19px 20px;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);;
    }
    &__number{
        font-weight: 700;
        font-size: 14px;
        line-height: 23px;
        color: #1F2041;
        span{
            font-size: 19px;
            display: inline-block;
            margin-right: 8px;
        }
    }
    &__status{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
    }
    &__price{
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
        span{
            font-size: 12px;
            font-weight: 400;
            display: inline-block;
            margin-left: 5px;
        }
    }
    &__social{
        padding-top: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__rewiews{
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
        span{
            font-size: 12px;
            font-weight: 400;
            display: inline-block;
            margin-left: 5px;
        }
    }
}