.room-details-gallery{
    height: 485px;
    width: 100%;
    @include for-tablet-landscape-min{
        height: 288px;
    }
    @include for-phone{
        height: 426px;
    }
    &__inner{
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        "post-1 post-1 post-1 post-2"  
        "post-1 post-1 post-1 post-3"; 
        height: inherit;
        @include for-phone{
            grid-template-areas: 
            "post-1"  
            "post-2"
            "post-3"; 
        }
    }
    &__img{
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        height: inherit;
    }
    &__item{
        height: inherit;
    }
    &__item--1{
        grid-area: post-1;
        height: inherit;
        @include for-phone{
            height: 139px;
        }
    }
    &__item--2{
        grid-area: post-2;
        height: 237px;
        @include for-tablet-landscape-min{
            height: 139px;
        }
    }
    &__item--3{
        grid-area: post-3;
        height: 237px;
        @include for-tablet-landscape-min{
            height: 139px;
        }
    }
}