.dropdown-counter-guests{
    max-width: 320px;
    width: 100%;
    position: relative;
    &::after{
        background-image: url('../components/global-img/expand_more.svg');
        position: absolute;
        content: "";
        width: 44px;
        height: 44px;
        background-repeat: no-repeat;
        background-position: center;
        right: 0;
        top: 0;
    }
    &.active{
        &::after{
            transform: rotate(180deg);
        }
    }
    &__header{
        border: 1px solid rgba(31, 32, 65, 0.25);
        width: 100%;
        display: block;
        text-align: left;
        height: 44px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
        padding: 13px 15px;
        background-color: #FFFFFF;
        border-radius: 4px;
        transition: transform .3s ease;
        &:focus{
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-radius: 4px 4px 0 0;
        }
    }
    &__body{
        padding: 7px 7px 13px 13px;
        width: 100%;
        background-color: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius:0 0 4px 4px;
        border-left: 1px solid rgba(31, 32, 65, 0.25);
        border-bottom: 1px solid rgba(31, 32, 65, 0.25);
        border-right: 1px solid rgba(31, 32, 65, 0.25);
        visibility: hidden;
		opacity: 0;
		transform: translateX(-50%);
		left: 50%;
		transition: visibility .3s ease, opacity .3s ease;
        z-index: 10;
		position: absolute;
		&.active{
			visibility: visible;
			opacity: 1;
		}
    }
    &__inner{
        margin-bottom: 20px;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 7px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__name{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 92px;
    }
    &__minus,
    &__plus{
        background-color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: rgba(31, 32, 65, 0.5);
        font-size: 18px;
        line-height: 22px;
        border: 1px solid rgba(31, 32, 65, 0.25);
    }
    &__num{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn-clear,
    &__btn-select{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
        background-color: transparent;
    }
    &__btn-clear{
        visibility: visible;
    }
}