.page-paginaton
    ul.page-paginaton__list
        li.page-paginaton__item
            a.page-paginaton__link.page-paginaton__link--active(href="#") 1
        li.page-paginaton__item
            a.page-paginaton__link(href="#") 2
        li.page-paginaton__item
            a.page-paginaton__link(href="#") 3
        li.page-paginaton__item.page-paginaton__item--hide ...
        li.page-paginaton__item
            a.page-paginaton__link(href="#") 15
        li.page-paginaton__item
            a.page-paginaton__link.page-paginaton__link--next(href="#")
                img(src=require("./images/arrow-next.svg") alt="next")
    p.page-paginaton__text 1 – 12 из 100+ вариантов аренды