.filter-room{
    background-color: #fff;
    margin-right: 60px;
    flex: 0 0 266px;
    z-index: 10;
    &.active{
        transform: translateX(-15px);
    }
    &__inner{
        position: relative;
    }
    &__close{
        position: absolute;
        display: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
        top: -30px;
        right: 10px;
        @include for-tablet-landscape-min{
            display: block;
        }
        span{
            height: 1px;
            width: 100%;
            background-color: rgba(31, 32, 65, 0.25);
            display: block;
            &:nth-child(1){
                transform: rotateZ(45deg);
            }
            &:nth-child(2){
                transform: rotateZ(-45deg);
            }
        }
    }
    @include for-tablet-landscape-min{
        position: absolute;
        transform: translateX(-1000%);
        padding-top: 40px;
        padding-left: 20px;
        width: 300px;
        box-shadow: 0px  10px 20px rgba(31, 32, 65, 0.05);
    }
    .widget{
        margin-bottom: 30px;
        &__title{
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
        }
        &__body{
            margin-top: 5px;
        }
    }
    .calendar,
    .dropdown-counter-guests,
    .dropdown-counter-facilities{
        width: 266px;
        .air-datepicker{
            padding: 15px 5px;
            --adp-width: 256px;
        } 
    }
}