.availability-list
    label.availability-list__item
        input(type="checkbox" name="guests").availability-list__checkbox
        span.rules-list__checkbox-fake
        .availability-list__info 
            .availability-list__title Широкий коридор
            .availability-list__text Ширина коридоров в номере не менее 91 см.
    label.availability-list__item
        input(type="checkbox" name="guests").availability-list__checkbox
        span.rules-list__checkbox-fake
        .availability-list__info 
            .availability-list__title Помощник для инвалидов
            .availability-list__text На 1 этаже вас встретит специалист  и проводит до номера.