.dropdown-counter
    input.dropdown-counter__header(placeholder="Сколько гостей", type="text", name="guests") 
    .dropdown-counter__body
        ul.dropdown-counter__inner
            li.dropdown-counter__item
                span.dropdown-counter__name взрослые
                .dropdown-counter__box
                    button.dropdown-counter__plus(type="button", data-counter-plus) -
                    span.dropdown-counter__num(data-counter-num) 0
                    button.dropdown-counter__minus(type="button", data-counter-minus) +
            li.dropdown-counter__item
                span.dropdown-counter__name дети
                .dropdown-counter__box
                    button.dropdown-counter__plus(type="button", data-counter-plus) -
                    span.dropdown-counter__num(data-counter-num) 0
                    button.dropdown-counter__minus(type="button", data-counter-minus) +
            li.dropdown-counter__item
                span.dropdown-counter__name младенцы
                .dropdown-counter__box
                    button.dropdown-counter__plus(type="button", data-counter-plus) -
                    span.dropdown-counter__num(data-counter-num) 0
                    button.dropdown-counter__minus(type="button", data-counter-minus) +
        .dropdown-counter__buttons
            button.dropdown-counter__btn-clear(type="button", data-counter-clear) очистить
            button.dropdown-counter__btn-select(type="button", data-counter-select) применить