.room-information
    ul.room-information__list
        li.room-information__item
            img.room-information__img(src=require("./images/emotion.svg"), alt="emotion")
            .room-information__info
                h4.room-information__title Комфорт
                p.room-information__text Шумопоглощающие стены
        li.room-information__item
            img.room-information__img(src=require("./images/city.svg"), alt="city")
            .room-information__info
                h4.room-information__title Удобство
                p.room-information__text Окно в каждой из спален
        li.room-information__item
            img.room-information__img(src=require("./images/whatshot.svg"), alt="whatshot")
            .room-information__info
                h4.room-information__title Уют
                p.room-information__text Номер оснащён камином